<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019. Salduba Technologies LLC, all right reserved
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>
    <logger name="com.zaxxer.*">
		<level value="WARN" />
		<appender-ref ref="console" />
	</logger>
    <Logger name="slick" level="WARN" additivity="false">
        <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="org.testcontainers" level="warn" additivity="false">
        <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="com.saldubatech" level="info" additivity="false">
        <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="com.saldubatech.ddes.Clock" level="info" additivity="false">
        <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="de.heikoseeberger.akkalog4j" level="error" additivity="false">
        <AppenderRef ref="FILE"/>
    </Logger>
</configuration>